!!!
%html{lang: "en"}
  %head
    / meta tags
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    / stylesheets
    = stylesheet_link_tag "site.css", media: "all"

    / conditional comments
    /[if IE]
      = stylesheet_link_tag "ie.css", media: "all"

    / print stylesheet
    = stylesheet_link_tag "print.css", media: "print"

    / external styles
    / <link rel="stylesheet" type="text/css" media="all" href="http://code.jquery.com/ui/1.8.23/themes/redmond/jquery-ui.css"/>

    / Favicons and touch icons
    / For retina-display iPads
    %link{href: "/images/apple-touch-icon-ipad-retina.png", rel: "apple-touch-icon-precomposed", sizes: "152x152", type: "image/png"}/
    / For retina-display iPhones
    %link{href: "/images/apple-touch-icon-iphone-retina.png", rel: "apple-touch-icon-precomposed", sizes: "120x120", type: "image/png"}/
    / For non-retina iPad
    %link{href: "/images/apple-touch-icon-ipad.png", rel: "apple-touch-icon-precomposed", sizes: "76x76", type: "image/png"}/
    / For non-retina iPhone and Android
    %link{href: "/images/apple-touch-icon-iphone.png", rel: "apple-touch-icon-precomposed", type: "image/png"}/
    / For Nokia
    %link{href: "/images/apple-touch-icon-iphone.png", rel: "shortcut icon"}/
    / For everything else
    %link{href: "/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/

    / header javascript
    = javascript_include_tag "site-header.js"

    / Typekit
    / = javascript_include_tag "//use.typekit.net/your_api_key.js"
    / :javascript
    /   try{Typekit.load();}catch(e){}

    %title= page_title

  %body{ class: "#{page_classes} #{custom_page_classes}" }
    .page
      %header.global
        %h1 Your Blog

      %section#content
        .main
          = yield

        .sidebar
          = partial "sidebar"

      %footer.global
        &copy; #{Date.today.strftime('%Y')} Blog Author.

    / all other javascript goes at the end of the body
    = javascript_include_tag "site.js"

    / page- or feature-specific javascript
    - if content_for? :custom_javascript_includes
      = yield_content :custom_javascript_includes

    / analytics
    = partial "google-analytics"

    / onload javascript
    = partial "onready"

